<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--This is a comment
    and it is on multiple lines
    and another comment-->
    <meta charset="UTF-8"/>
    <title>Index- Welcome </title>
</head>
<body>


<p th:text = "${message}">This is a placeholder for message1</p>
<p>Contact List Project</p>
<p> <a href = "/addcontact">Go to add a new contact.</a></p>
<p><a href="/listall">Go to view all contacts.</a></p>

<hr/>

</body>
</html>